.bg-main{

    height: 800px;    
    background-image: url(/media/joaquin-romero-E9Vk2OiG23U-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}